@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-brand: #ffcc01;
		--color-secondary: #fff6b4;
		--color-tertiary: #f0f8ff;
		--color-accent: #00cc99;
	}

	@font-face {
		font-family: "American Purpose";
		src: url("./assets/fonts/American-Purpose-STRIPE-1-Normal.ttf.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	body,
	html {
		@apply overflow-x-hidden scroll-smooth;
	}

	html {
		@apply scroll-smooth;
	}
	html::-webkit-scrollbar {
		@apply w-[5px];
	}
	html::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-accent border-r-[5px];
	}
	html::-webkit-scrollbar-track {
		@apply bg-yellow-200;
	}
}

@layer utilities {
	/* In your CSS file */
	/* .text-outline {
		text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
			-2px 2px 0 #000;
	} */
	.text-outline {
		text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
			-2px 2px 0 #000, 0 4px 0 #000;
	}

	.text-outline-light {
		text-shadow: 2px 2px 0 var(--color-secondary),
			-2px -2px 0 var(--color-secondary),
			2px -2px 0 var(--color-secondary), -2px 2px 0 var(--color-secondary);
	}
}
