@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-brand: #ffcc01;
		--color-secondary: #fff6b4;
		--color-tertiary: #f0f8ff;
		--color-accent: #00cc99;
		--color-accent-200: #00ccff;
	}

	@font-face {
		font-family: "American Purpose";
		src: url("./assets/fonts/American-Purpose-STRIPE-1-Normal.ttf.woff2")
				format("woff2"),
			url("./assets/fonts/American-Purpose-STRIPE-1-Normal.ttf.woff")
				format("woff");
		font-weight: normal;
		font-style: normal;
	}

	body,
	html {
		@apply overflow-x-hidden scroll-smooth;
	}
}

@layer utilities {
	/* In your CSS file */
	.text-outline {
		text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
			-2px 2px 0 #000;
	}

	.text-outline-light {
		text-shadow: 2px 2px 0 var(--color-secondary),
			-2px -2px 0 var(--color-secondary),
			2px -2px 0 var(--color-secondary), -2px 2px 0 var(--color-secondary);
	}
}
